@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
}

h1,
h2,
h3 {
  color: #1e3a8a;
}

button {
  transition: all 0.3s ease;
}
